<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dataset-health.ZPM">
    <Module>
      <Dependencies>
        <ModuleReference>
          <Name>csvgen</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <Name>dataset-health</Name>
      <Version>1.2.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.data.health.PKG"/>
    </Module>
  </Document>
</Export>
